version: '3.8'

services:
  master:
    image: apache/hadoop:3.3.6
    container_name: hadoop-master
    hostname: master
    user: root
    ports:
      - "8020:8020"
      - "8032:8032"
      - "8042:8042"
      - "9870:9870"
    volumes:
      - ./init-hadoop.sh:/init-hadoop.sh
    command: ["/bin/bash", "/init-hadoop.sh"]
    environment:
      - HADOOP_CONF_DIR=/opt/hadoop/etc/hadoop

  client:
    image: apache/hadoop:3.3.6
    container_name: hadoop-client
    user: root
    depends_on:
      - master
    volumes:
      - ./data:/task_data
    command: ["tail", "-f", "/dev/null"] 
